.how-it-works {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}

.how-it-works {
  font-family: "Lato", Helvetica, Arial, sans-serif;

  h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    margin-left: -50px;
  }
}
