.how-it-works-container {
  width: 100%;
  overflow: hidden;
}

.how-it-works {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  display: flex;

  max-width: 1000px;
  width: 100%;
  margin: 20px auto;

  // On a phone, stack vertically, not horizontally.
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.how-it-works-left {
  flex: 1;
  margin-top: 30px;
  margin-left: 20px;
  z-index: 2;

  h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  p {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-weight: 300;
  }
}

.how-it-works-right {
  flex: 1;
  max-width: 50%;
  z-index: 1;

  img {
    width: 600px;
    margin-left: 0px;

    // On desktops, make the image a bit taller and offset the the left slightly.
    @media screen and (min-width: 600px) {
      margin-left: -50px;
      width: 800px;
    }
  }
}
