.box-properties {
  .box-items {
    @include repo-box;
    border-top: 1px;
    width: 90%;
    margin-left: 5%;
    font-size: $font-size-base;

    // reset a few styles
    height: auto;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    ul {
      padding-left: 0px;
      li {
        font-size: 1.1em;
        line-height: 1.8em;

        span {
          margin-left: 0.5em;
          cursor: pointer;
        }
        span:hover, span:focus, span:active {
          text-decoration: underline;
        }

        &.disabled {
          color: $gray-light;
          span:hover, span:focus, span:active {
            text-decoration: none;
            cursor: default;
          }
        }
      }
    }
  }
}
