@mixin section-dark {
  background-color: $gray-light;
  color: #FFF;
}
@mixin section-primary {
  background-color: lighten($brand-primary, 2.5%);
  color: #FFF;
}

.index-page {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
    font-weight: 300;
  }

  .btn-cta {
    font-size: 2em;
    padding: $padding-large-vertical*2 $padding-large-horizontal*2;
    border-width: 3px;
  }

  section.section-hero {
    @include section-primary;
    height: 60%;
    min-height: 350px;
    margin-top: -20px;

    // background-image: url('/assets/img/mapone.svg');
    // background-repeat: no-repeat;
    // background-position: right center;

    h1 {
      margin-top: 1em;
    }

    .btn-cta {
      margin-top: 3em;
    }
  }
}
