// call to action button used in the header and above the footer (both in ctas)
.btn-cta {
  font-size: 2em;
  padding: $padding-large-vertical*2 $padding-large-horizontal*2;
  border-width: 3px !important;
}

.index-page {
  position: absolute;
  top: 0px;
  z-index: 5;

  color: #FFF;
  height: 98%;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/hero.jpg);
  background-size: cover;
  background-position: center left;

  h1 {
    margin-top: 1.8em;
    font-size: 4.8em;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.65em;
    line-height: 1.6;
    font-weight: 300;
    max-width: 32em;

    span {
      font-weight: 400;
      letter-spacing: 1.15;
    }
  }

  .row {
    margin-top: 4em;
    .button-section {
      @include make-xs-column(12);
      @include make-md-column(6);
      @media (min-width: $screen-md-min) {
        max-width: 350px;
      }
      margin-bottom: 1em;
    }
  }
}

.used-by {
  position: absolute;
  top: 98%;
  z-index: 5;
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;

  .used-by-list {
    display: flex;
    align-items: center;
    flex-direction: row;

    // "Used by"
    span {
      font-size: 2em;
      vertical-align: middle;
    }

    img {
      height: 3em;
      margin-left: 3em;
    }
  }

  // for mobile
  @media (max-width: $screen-sm-min) {
    .used-by-list {
      flex-direction: column;
      span {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      img {
        display: block;
        height: 2.8em;
        margin-bottom: 2em;
        margin-left: 0em;
      }
      img:last-child {
        display: none;
      }
    }
  }
}

.content {
  position: absolute;
  top: 130%;
  width: 100%;
  overflow: hidden;

  ol, p {
    font-size: 1.4em;
  }

  // title images
  .img-pr {
    margin-top: 2em; // space above/below on mobile
    margin-bottom: 2em;
    img {
      height: 300px;
    }

    @media (min-width: $screen-sm-min) { // remove that space on desktop
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }

  .cta {
    text-align: center;
    min-height: 400px;

    h1 {
      margin-top: 80px;
      font-weight: 300;
    }

    // the cta at the end of the home page
    .btn-cta-end {
      @extend .btn-cta;
      margin-top: 50px;
    }
  }
}


.footer {
  @include clearfix;
  width: 100%;
  background-color: $gray-dark;
  color: #FFF;

  padding: 2em 2em 3.2em 2em;

  span {
    float: left;
    font-weight: 700;
    margin-bottom: 1em;
  }

  ul {
    float: left;
    list-style-type: none;
    padding-left: 0px;
    width: 100%;

    li {
      padding-left: 0.2em;
      a {
        color: #FFF;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    text-align: center;

    span {
      margin-bottom: 0em;
    }

    ul {
      float: right;
      width: auto;
      li { display: inline-block; }
    }
  }
}
