.repo-list {
  height: 100%;

  & > ul {
    padding-left: 0px;
    list-style-type: none;
    font-size: $font-size-base * 1.2;

    .list-header {
      @include list-header;
    }

    // each repo
    & > li {
      padding: $padding-large-vertical $padding-base-horizontal;
      font-size: 1em;

      border-bottom: 1px solid $gray-lighter;
      &:first-child {
        border-top: 1px solid $gray-lighter;
      }

      // The repo name
      .item-title {
        cursor: pointer;
        &:hover, &:focus, &:active { text-decoration: underline; }
      }

      i {
        font-size: 1.5em;
      }
    }
  }
}
