.link-list {
  height: 100%;

  & > ul {
    padding-left: 0px;
    list-style-type: none;
    font-size: $font-size-base * 1.2;

    .list-header {
      @include list-header;
    }

    // each repo
    & > li {
      padding: $padding-large-vertical $padding-base-horizontal;
      font-size: 1em;
      display: flex;

      border-bottom: 1px solid $gray-lighter;
      &:first-child {
        border-top: 1px solid $gray-lighter;
      }

      &.grayed {
        opacity: 0.8;
        background-color: $gray-lighter;
      }

      // The repo name
      .item-title {
        cursor: pointer;
        display: inline-block;
        &:hover, &:focus, &:active { text-decoration: underline; }
        flex: 1;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding-right: 0.5em;
      }

      i {
        font-size: 1.5em;
        vertical-align: middle;
        display: inline-block;
        margin-right: 0.2em;
      }

      .react-ios-switch-Switch-switch {
        width: 50px;
      }
    }
  }
}
