.repository-box {
  @include repo-box;

  .icon-wrapper {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    i {
      font-size: 72px;
    }
  }

  .repo-name-box {
    margin-bottom: 0.5em;

    i.fa-check { color: $brand-success; }
    i.fa-times { color: $brand-danger; }
  }
}
