.repository-box {
  @include link-box;
  background-color: $brand-success;
  color: #FFF;
  position: relative;

  &:before {
    content: "Repository";

    position: absolute;
    top: 1em;
  }

  .repo-name-box {
    margin-bottom: 0.5em;

    i.fa-check { color: $brand-success; } // unpaid repos
    i.fa-dollar { color: $brand-warning; } // paid repos
    i.fa-times { color: $brand-danger; } // no repo
  }
}

.fork-box {
  @include link-box;
  background-color: $brand-info;
  color: #FFF;

  &:before {
    content: "All Forks";
  }

  .big-text {
    text-align: center;
    font-size: 1.5em;
  }
}
