.react-ios-switch-Switch-handle {
  border-radius: 13px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25), 0px 4px 11px 0px rgba(0, 0, 0, 0.08), -1px 3px 3px 0px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  cursor: grab;
  height: 26px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 26px;

  &:active {
    cursor: grabbing;
  }
}

.react-ios-switch-Switch-input {
  display: none;
}

.react-ios-switch-Switch-offState {
  border-radius: 13px;
  height: 26px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 46px;
}

.react-ios-switch-Switch-switch {
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  user-select: none;
  width: 50px;
}
.react-ios-switch-Switch-switch--disabled {
    cursor: default;
    opacity: 0.5;

    .react-ios-switch-Switch-handle {
      cursor: default;

      &:active {
        cursor: default;
      }
    }
  }
