@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

@import "bootstrap";
@import "fontawesome/font-awesome";
@import "react-select";
@import "switch";
@import "navbar";
@import "rc-collapse"; // for the react-components/collapse component

@import "link-box";

@import "index";
@import "pricing";
@import "buttons";
@import "loading";
@import "repositorylist";
@import "repo";
@import "repositorybox";
@import "boxproperties";
@import "addnewbox";
@import "usernotauthenticated";
@import "paymentsettings";
@import "buttonstyle";

.root, .app-container-parent, .app-container {
  min-height: calc(100% - #{$navbar-height});
}

.app-container {
  background-color: lighten($gray-lighter, 3.6%);

  // make sure the bg color covers the navbar too
  margin-top: -20px;
  padding-top: 20px;
}
