@import "bootstrap";
@import "fontawesome/font-awesome";
@import "react-select";
@import "switch";
@import "navbar";

@import "repo-box";
@mixin list-header {
  background-color: $brand-primary;
  color: #fff;
  font-size: 0.75em;
}

@import "repositorylist";
@import "repo";
@import "repositorybox";
@import "boxproperties";
@import "addnewbox";
