.header-banner-container {
  width: 100%;
  background-color: #68DDE8;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;

  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.header-banner {
  max-width: 500px;
  width: 100%;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 60px;

  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}


.header-banner-header {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24px;
}

.header-banner-body {
  list-style-type: none;
  padding-left: 0px;
}
.header-banner-body li {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: normal;
  font-size: 18px;
}

@media screen and (min-width: 900px) {
  .header-banner {
    max-width: 900px;
  }
  .header-banner-header {
    font-size: 48px;
  }
  .header-banner-body li {
    font-size: 28px;
  }
}
