/*
 *
 *
 *
 *
 */

/* The link detail card - by default it's gray as its disabled. When enabled, the color is set via
 * an inline style in the component. */
.link-detail {
  max-width: 500px;
  margin: 50px auto;

  font-family: "Lato", Helvetica, Arial, sans-serif;

  font-size: 18px;
  cursor: default;

  border-radius: 8px;

  padding-top: 32px;
  margin-top: 32px;

  background-color: #999;
  transition: all 250ms ease-out;
}

/* The link detail card title--a textbox--is rendered at the top of the link detail card and used to
 * change the name of the link the detail card represents. */
.link-detail-title {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  height: 100px;
  padding: 16px 8px;
  color: #fff;
  display: flex;
  font-size: 24px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  outline: none;
  resize: none;
  margin-right: 24px;
  margin-left: 24px;
  width: calc(100% - 72px);
}
.link-detail-title::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.link-detail-title:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

/* The on-off switch is under the title and used for enabling / disabling the link. */
.link-detail-switch {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* A link has two repositories - one to pull changes from and one to push changes to. */
.link-detail-repository {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 32px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: column
}

/* Label each repository with its respective label - `upstream` or `fork` */
.link-detail-repository-header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: 16px;
}
.link-detail-repository-header-title {
  margin-right: auto;
}


/* The controls to change the owner / name / branch of a repository */
.link-detail-repository-edit {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* The fork repo first contains two radiobuttons to pick whether the fork should be a specific
 * fork or all forks of a repo. */
.link-detail-repository-edit-row-fork-radios {
  margin-bottom: 16px;
}

/* Style the radiobuttons */
.link-detail-repository-radio {
  display: none;
}
.link-detail-repository-radio + label:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.8);
  margin-right: 8px;
}
.link-detail-repository-radio:checked + label:before {
  background-color: #ddd;
}
.link-detail-repository-radio + label {
  margin-right: 16px;
  user-select: none;
}

/* Next, we have the row that contains the repository owner / repository name inputs. */
.link-detail-repository-edit-row-owner-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link-detail-decorator {
  font-size: 32px;
  padding: 16px 12px;
}

/* Finally, we have a row with a branch selection input to finish off the repository edit section. */
.link-detail-repository-edit-row-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* Styles for the text inputs and select boxes. These are used throughout the card to create that
 * "fat border" text input field. */
.link-detail-box {
  padding: 20px;
  border-radius: 8px;
  flex: 1;

  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 16px 8px;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.2);
  outline: none;
}
.link-detail-box::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.link-detail-box:focus {
  border-color: rgba(255, 255, 255, 0.4);
}
.link-detail-box.owner { width: 0%; }
.link-detail-box.repo { width: 0%; }
.link-detail-box.branch { height: 72px; }


.link-detail-save-button-container {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}
.save-button {
  margin: 0px auto;
  display: block;
  user-select: none;
}


/* The footer. This contains the action buttons (save, delete) as well as displays any errors. */
.link-detail-footer {
  max-width: 500px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
}
.delete-button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  color: #de3535;
  user-select: none;
}
.delete-button:active {
  opacity: 0.8;
}
.link-detail-error {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: inline-block;
  color: #de3535;
}
