<% include header %>
<div class="container new-backstroke">
  <h1>Set up Backstroke with three simple steps:</h1>
  <ol>
    <li>
      <h3>Create a webhook:<h3>
      <a
        class="btn btn-primary"
        target="_blank"
        href="https://github.com/<%= data.user %>/<%= data.repo %>/settings/hooks/new"
      >Here's a link.</a>
    </li>
    <li>
      <h3>Enter our Payload URL:<h3>
      <div class="input-group">
        <div class="input-group-addon">Payload URL:</div>
        <input
          type="text"
          class="form-control"
          readonly
          value="http://backstroke.us/ping/github/<%= data.user %>/<%= data.repo %>"
        />
      </div>
    </li>
    <li>
      <h3>Click <code>Add Webhook</code>. You're done.<h3>
      <p>
        Every time you push new code, we'll check to see if there's any upstream
        changes you've missed.
      </p>
    </li>
  </ol>
</div>
<% include footer %>
