<% include header %>
<div class="jumbotron">
  <div class="container">
    <h1>Backstroke<h1>
    <h2>Keep projects forks up to date to make merging simple.</h2>
  </div>

  <div class="container new-backstroke-intro">
    <form method="POST" action="/new">
      <div class="github-leadin">http://github.com/</div>
      <div class="col-md-3">
        <input
          type="text"
          name="user"
          id="user"
          placeholder="Username"
          class="form-control"
        />
      </div>
      <div class="input-slash hidden-xs hidden-sm">/</div>
      <div class="col-md-3">
        <input type="text" name="repo" id="repo" placeholder="Repository" class="form-control" />
      </div>
      <input type="submit" id="next" class="btn btn-primary" disabled="disabled" value="Add to repository" />
    </form>
  </div>
</div>

<div class="quote">
  <h4 class="container">"Merge conflicts suck. Go away, I'm working." - a programmer</h4>
</div>

<div class="container">
  <div class="col-md-4">
    <h2>Always have the latest code</h2>
    <p>
      Since your code is updated, there's no need to worry about a messy merge
      back upstream.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Reduce merge conflicts</h2>
    <p>
      By merging in changes slowly over time, you'll reduce the number of merge
      conflicts. Those really suck.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Automate annoying tasks</h2>
    <p>
      Programmers are often lazy, so by automating annoying tasks everyone's life
      will be made easier. 
    </p>
  </div>
</div>
<% include footer %>
