<% include header %>
<div class="jumbotron">
  <div class="container">
    <h1>Backstroke<h1>
    <h2>Keep forks up to date with new changes automatically.</h2>
  </div>
</div>
<div class="container new-backstroke-intro">
  <form method="POST" action="/new">
    <div class="github-leadin">http://github.com/</div>
    <div class="col-md-3">
      <input
        type="text"
        name="user"
        id="user"
        placeholder="Username"
        class="form-control"
      />
    </div>
    <div class="input-slash hidden-xs hidden-sm">/</div>
    <div class="col-md-3">
      <input type="text" name="repo" id="repo" placeholder="Repository" class="form-control" />
    </div>
    <input type="submit" id="next" class="btn btn-primary" disabled="disabled" value="Add to repository" />
  </form>
</div>
<% include footer %>
