.link-loading-container {
  max-width: 500px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
}

.link-loading {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: inline-block;
}
