.open-source-container {
  width: 100%;
  overflow: hidden;
}

.open-source {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  display: flex;

  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
}

.open-source-left {
  flex: 1;
  max-width: 50%;

  img {
    width: 420px;
  }
}

.open-source-right {
  flex: 1;
  margin-top: 30px;
  margin-left: 20px;

  h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  p {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-weight: 300;
  }

  a {
    color: #68CFD9;
  }
}

// Highlight the monthly amount
.open-source-right #gratipay {
  color: #68CFD9;
  font-weight: bold;
}
