.footer-container {
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;

  margin-top: 100px;
  border-top: 1px solid #ddd;
}

.footer {
  max-width: 1000px;
  margin-left: 16px;
  margin-right: 16px;
  @media screen and (min-width: 600px) {
    margin: 0px auto;
  }

  padding-top: 40px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}


.footer-brand {
  display: flex;
  flex-direction: row;

  // On mobile, add some margin below the header. On desktop, remove it because the bar is
  // horizontal. Also on desktop add some spacing to the left of the logo.
  margin-bottom: 20px;
  @media screen and (min-width: 600px) {
    margin-bottom: 0px;
    margin-left: 16px;
  }
}


.footer-logo {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}
.footer-logo:hover {
  filter: none;
  transition: all 250ms ease-in-out;
}


.footer-logo-label {
  padding-left: 8px;
  height: 50px;
  color: #aaa;

  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 50px;
  user-select: none;
  cursor: default;
}
.footer-logo:hover + .footer-logo-label {
  color: #333;
  transition: all 250ms ease-in-out;
}




.footer-list {
  padding-left: 0px;
  list-style-type: none;

  margin-top: 0px;
  margin-bottom: 0px;

  // Align right.
  @media screen and (min-width: 600px) {
    margin-left: auto;
    margin-right: 16px;
  }
}

.footer-list li {
  margin-left: 8px;
  margin-right: 8px;

  font-size: 20px;
  line-height: 50px;

  @media screen and (min-width: 600px) {
    display: inline-block;
  }
}

.footer-list li a {
  color: #aaa;
  text-decoration: none;
}

.footer-list li a:hover {
  color: #62DDE9;
}
