$used-by-slant-height: 80px;
$used-by-slant-color: #efefef;
.used-by-container {
  background-color: #eee;
  width: 100%;
  position: relative;
  margin-bottom: 80px;

  &:before {
    content: '';
    position: absolute;

    display: block;
    width: 0;
    height: 0;
    border-bottom: $used-by-slant-height solid $used-by-slant-color;
    border-right: 100vw solid transparent;
    margin-top: -$used-by-slant-height;
  }
  &:after {
    content: '';
    position: absolute;

    display: block;
    width: 0;
    height: 0;
    border-top: $used-by-slant-height solid $used-by-slant-color;
    border-left: 100vw solid transparent;
  }

  // On desktop...
  @media screen and (min-width: 500px) {
    margin-bottom: 120px;
  }
}
.used-by {
  max-width: 800px;
  width: 100%;
  margin: 120px auto 0px auto;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-bottom: 30px;

  text-align: center;
}

.used-by h1 {
  margin-bottom: 40px;
  padding-top: 40px;
}

.used-by-grid {
  max-width: 600px;
  margin: 0px auto;
}

.used-by-grid-row {
  display: flex;
  flex-direction: column;

  // On desktop...
  @media screen and (min-width: 500px) {
    flex-direction: row;
    margin-bottom: 30px;
  }
}

.used-by-grid-image-wrapper {
  flex: 1;
  display: inline-block;

  img {
    width: 200px;
    height: 50px;
  }
}

.used-by-grid-row a, .used-by-grid-row span {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;

  display: block;
  font-size: 28px;
  color: #737373;
}
.used-by-grid-row a {
  color: #68CFD9;
  font-size: 32px;
  cursor: pointer;
}


// For all siblings of a grid row, give them proper spacing on mobile.
.used-by-grid-row > div,
.used-by-grid-row > a,
.used-by-grid-row span {
  // When the screen width is < 500px...
  @media screen and (max-width: 500px) {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}
